@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Mission Three";
}
<h1>Jerron Patterson</h1>
<img src="img/IMG_7395.jpg" />
<p>This was taken at a ballroom competition</p>
<br /><br />
<p>I hope to improve my ability to create novel solutions using code while in IS 413.</p>
<br />
<p>Future Job Options:</p>
<ul>
    <li>Consulting</li>
    <li>Developer</li>
    <li>Entrepreneur</li>
</ul>